@page "/admin/questionnaires/{questionnaireId:guid}/contributors/add"
@addTagHelper *, Common
@using Common.Enum
@model Admin.Pages.Contributors.AddContributor

@{
  Layout = "_Layout";
  ViewData["Title"] = "Add person";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" accept-charset="UTF-8">
      <input type="hidden" asp-for="@Model.BackLinkSlug" />
      <!-- Contributor Email -->
      <govuk-form-group asp-for="@Model.ContributorEmail">
        <fieldset class="govuk-fieldset" aria-describedby="add-person-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 id="add-person-title" class="govuk-fieldset__heading">
              <span id="current-questionnaire-title" class="govuk-caption-l">@Model.QuestionnaireTitle</span>
              <label class="govuk-visually-hidden" for="ContributorEmail">
                @ViewData["Title"]
              </label>
            </h1>
          </legend>

          <div id="add-person-hint" class="govuk-hint govuk-!-margin-bottom-8">
            <p>Add the DfE email address for the person you want to give access to.</p>

            <p>Once you add them, they can edit the questionnaire when they sign in.</p>
          </div>

          <govuk-field-error asp-for="@Model.ContributorEmail" error-id="ContributorEmail-error">
          </govuk-field-error>

          <govuk-input id="ContributorEmail"
                       class="govuk-input"
                       aria-describedby="add-person-hint"
                       type="text"
                       name="ContributorEmail"
                       asp-for="ContributorEmail"
                       value="@Model.ContributorEmail"
                       govuk-error-for="@Model.ContributorEmail"/>
        </fieldset>
      </govuk-form-group>

      <button id="save-and-continue" class="govuk-button" type="submit" formnovalidate="formnovalidate" data-module="govuk-button"
              data-prevent-double-click="true" asp-page-handler="SaveAndContinue">
        Save and continue
      </button>
    </form>
  </div>
</div>