@page "/admin/questionnaires/{questionnaireId:guid}/contributors"
@using Admin.Models
@using Common.Models
@model Admin.Pages.Contributors.AddEditQuestionnaireContributors

@{
  Layout = "_Layout";
  ViewData["Title"] = "Add and edit contributors to your questionnaire";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

@if (Model.QuestionnaireState is { JustUpdated: true })
{
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Your changes have been saved.
        </h3>
      </div>
    </div>
  </div>
</div>
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      <span class="govuk-caption-l">@Model.QuestionnaireTitle</span>
      View and change who has access
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0">
        <strong class="govuk-tag" data-status="@Model.QuestionnaireStatus">@Model.QuestionnaireStatus</strong>
      </dd>
    </dl>
    <div class="govuk-hint">
      These people have permission to edit this questionnaire. 
    </div>
    
    <div class="app-page-list">
      @if (Model.Contributors is { } contributors)
      {
        var contributorCount = contributors.Count;
        var canDeleteContributors = contributorCount > 2;
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Your questionnaire people</caption>
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Email address</th>
            <th scope="col" class="govuk-table__header"> </th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          @foreach (var contributor in contributors)
          {
            <tr class="govuk-table__row govuk-table__row-v-centered">
              <td class="govuk-table__cell">@contributor.DisplayName</td>
              <td class="govuk-table__cell">@contributor.UserPrincipalName</td>
              <td class="govuk-table__cell">
                <form method="post">
                  <input type="hidden" name="ContributorEmail" value="@contributor.UserPrincipalName"/>
                  <input type="hidden" name="ContributorId" value="@contributor.Id"/>
                      
                  @if (canDeleteContributors)
                  {
                    <button class="govuk-button govuk-button--warning" data-module="govuk-button" type="submit"
                            asp-page-handler="DeleteContributor">Delete contributor</button>
                  }
                  else
                  {
                    <button disabled class="govuk-button govuk-button--warning" data-module="govuk-button" type="button">
                      Remove
                    </button>
                  }
                </form>
              </td>
            </tr>
          }
          </tbody>
        </table>
      }
    </div>
    <div class="govuk-button-group">
      <a class="govuk-button govuk-!-margin-bottom-3 govuk-!-margin-top-3" data-module="govuk-button" 
         href="@string.Format(Routes.AddContributor, Model.QuestionnaireId)">Add person</a>
    </div>
  </div>
</div>