@model Admin.Models.QuestionsListViewModel

<ul class="govuk-list govuk-!-margin-top-4 govuk-!-margin-bottom-0">
    @foreach (var question in Model.Questions)
    {
        <li
            class="govuk-!-padding-top-2 govuk-!-padding-bottom-2 govuk-!-margin-bottom-3 govuk-!-background-colour-light-grey">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        @string.Concat(question.Order, ". ", question.Content)
                    </p>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                    <p class="govuk-body govuk-!-margin-bottom-0">
                        <span class="govuk-!-display-inline-block">
                            <a href="#" class="govuk-link">Edit</a>
                            <span class="govuk-visually-hidden">@question.Order</span>
                            |
                            <a class="govuk-link"
                               asp-page="./ReorderQuestions"
                               asp-route-questionnaireId="@question.QuestionnaireId"
                               asp-route-questionId="@question.QuestionId"
                               asp-route-actionType="MoveUp">
                                Move up
                            </a>
                            |
                            <a class="govuk-link"
                               asp-page="./ReorderQuestions"
                               asp-route-questionnaireId="@question.QuestionnaireId"
                               asp-route-questionId="@question.QuestionId"
                               asp-route-actionType="MoveDown">
                                Move down
                            </a>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible app-question-separator" />
    }
</ul>