@page "/admin/questionnaires/{questionnaireId:guid}/questions"
@using Admin.Models
@using Common.Models
@using Newtonsoft.Json
@model Admin.Pages.Questions.AddEditQuestionsAndAnswers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Add and edit your questions";

    var questionDeletedTempData = TempData.Peek("DeletedQuestion");
    var deletedQuestion = JsonConvert.DeserializeObject<QuestionNotificationSummary>(questionDeletedTempData?.ToString() ?? string.Empty);
}

@section BeforeContent
{
    <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back to create your questionnaire</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

@if (deletedQuestion is { IsDeleted: true }) { 
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        The question, '@deletedQuestion.QuestionTitle', has been deleted.
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    TempData.Remove("DeletedQuestion");
}


<div class="gtaa-add-edit-questions-page govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <div class="govuk-grid-row gtaa-add-edit-questions">
            <div class="govuk-grid-column-full">

                <span class="govuk-caption-l">@Model.QuestionnaireTitle</span>
                <h1 class="govuk-heading-l">Add and edit your questions</h1>

                @*TODO: add status here *@
                <p class="govuk-body">
                    <strong class="govuk-tag" data-status="@Model.Status">@Model.Status</strong>
                </p>

                <div class="govuk-button-group">
                    <a class="govuk-button" data-module="govuk-button"
                       href="@string.Format(Routes.AddQuestion, Model.QuestionnaireId)">
                        Add a question
                        
                    </a>
                </div>

                <h2 class="govuk-heading-m govuk-!-margin-top-6">Your questions</h2>
                
                <dl class="govuk-summary-list govuk-!-static-margin-top-3">

                    @foreach (var question in Model.Questions)
                    {
                        <div id="page_1050713" class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key app-page-list__key govuk-summary-list__key-s">
                                @question.Order
                            </dt>
                            <dd class="govuk-summary-list__value">
                                @question.Content
                            </dd>
                            <dd class="govuk-summary-list__actions govuk-summary-list__actions-m">
                                <ul class="govuk-summary-list__actions-list">
                                    <li class="govuk-summary-list__actions-list-item">
                                        <a class="govuk-link" href="/admin/questionnaires/@question.QuestionnaireId/questions/@question.Id/edit">Edit</a>
                                    </li>
                                    @if (question.Order > 1)
                                    {
                                        <li class="govuk-summary-list__actions-list-item">
                                            <form method="post" asp-page-handler="MoveUp" class="inline-form">
                                                <input type="hidden" name="questionnaireId" value="@question.QuestionnaireId"/>
                                                <input type="hidden" name="questionId" value="@question.Id"/>
                                                <button type="submit" class="govuk-link govuk-button--link" data-module="govuk-button"
                                                        data-prevent-double-click="true" data-govuk-button-init="">Move up</button>
                                            </form>
                                        </li>
                                    }
                                    @if (question.Order < Model.Questions.Count)
                                    {
                                        <li class="govuk-summary-list__actions-list-item">
                                            <form method="post" asp-page-handler="MoveDown" class="inline-form">
                                                <input type="hidden" name="questionnaireId" value="@question.QuestionnaireId"/>
                                                <input type="hidden" name="questionId" value="@question.Id"/>
                                                <button type="submit" class="govuk-link govuk-button--link" data-module="govuk-button"
                                                        data-prevent-double-click="true" data-govuk-button-init="">Move down</button>
                                            </form>
                                        </li>
                                    }
                                </ul>
                            </dd>
                        </div>
                    }
                </dl>

                <form method="post" class="govuk-!-margin-top-6">
                    <fieldset class="govuk-fieldset" aria-describedby="finished-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h2 class="govuk-fieldset__heading">
                                Have you finished editing your questions?
                            </h2>
                        </legend>

                        <div id="finished-hint" class="govuk-hint">
                            Selecting “Yes” will mark this task as complete. You’ll still be able to make changes if you
                            need to.
                        </div>

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="finished-yes" name="FinishedEditing" type="radio" asp-for="@Model.FinishedEditing"
                                       value="true">
                                <label class="govuk-label govuk-radios__label" for="finished-yes">
                                    Yes
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="finished-no" name="FinishedEditing" type="radio" asp-for="@Model.FinishedEditing"
                                       value="false">
                                <label class="govuk-label govuk-radios__label" for="finished-no">
                                    No, I’ll come back later
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit"
                            asp-page-handler="SaveAndContinue">
                        Save and continue
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>
