@page "/admin/questionnaires/{questionnaireId:guid}/questions/add"
@addTagHelper *, Common
@using Common.Enum
@using Microsoft.AspNetCore.Mvc.Rendering
@model Admin.Pages.Questions.AddQuestion

@{
  Layout = "_Layout";
  ViewData["Title"] = "Add a question";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-caption-l">Question @Model.QuestionNumber</p>
    <h1 class="govuk-heading-l">Add a question</h1>

    <form method="post" accept-charset="UTF-8">
      <!-- Question text -->
      <govuk-form-group asp-for="@Model.QuestionContent">
        <label class="govuk-label govuk-label--m" for="QuestionContent">
          What's your question?
        </label>
        <div class="govuk-hint" id="QuestionContent-hint">
          Ask the question the way you would in person. For example, ‘Which of these countries have you lived in?’
        </div>

        <govuk-field-error asp-for="@Model.QuestionContent" error-id="QuestionContent-error">
        </govuk-field-error>

        <govuk-input id="QuestionContent"
                     class="govuk-input"
                     aria-describedby="QuestionContent-hint"
                     type="text"
                     asp-for="QuestionContent"
                     value="@Model.QuestionContent"
                     govuk-error-for="@Model.QuestionContent"/>
      </govuk-form-group>

      <!-- Hint text -->
      <govuk-form-group asp-for="@Model.QuestionHintText">
        <label class="govuk-label govuk-label--m" for="QuestionHintText">
          Hint text (optional)
        </label>
        <div class="govuk-hint" id="QuestionHintText-hint">
          You can add a short hint to help people answer the question. For a question where people can select more
          than one answer you might want to use ‘Select all that apply’.
        </div>

        <govuk-field-error asp-for="@Model.QuestionHintText" error-id="QuestionHintText-error">
        </govuk-field-error>

        <textarea class="govuk-textarea"
                  id="QuestionHintText"
                  rows="4"
                  asp-for="QuestionHintText"
                  aria-describedby="QuestionHintText-hint"></textarea>
      </govuk-form-group>

      <!-- Question type -->
      <govuk-form-group asp-for="@Model.QuestionType">
        <fieldset class="govuk-fieldset" aria-describedby="QuestionType-hint QuestionType-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Question type
            </h2>
          </legend>

          <div id="QuestionType-hint" class="govuk-hint">
            Choose how many options people will be able to select to answer.
          </div>

          <govuk-field-error asp-for="@Model.QuestionType" error-id="QuestionType-error">
          </govuk-field-error>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <govuk-input class="govuk-radios__input"
                           id="QuestionType"
                           asp-for="QuestionType"
                           type="radio"
                           value="@QuestionType.SingleSelect"
                           govuk-error-for="@Model.QuestionType"/>
              <label class="govuk-label govuk-radios__label" for="QuestionType">
                One option only (radio button)
              </label>
              <div class="govuk-hint govuk-radios__hint">
                Use this when you have a small list of options.
              </div>
            </div>

            <div class="govuk-radios__item">
              <govuk-input class="govuk-radios__input"
                           id="QuestionType-Dropdown"
                           asp-for="QuestionType"
                           type="radio"
                           value="@QuestionType.DropdownSelect"
                           govuk-error-for="@Model.QuestionType"/>
              <label class="govuk-label govuk-radios__label" for="QuestionType-Dropdown">
                One option only (drop-down)
              </label>
              <div class="govuk-hint govuk-radios__hint">
                Use this when you have a long list of options.
              </div>
            </div>

            <div class="govuk-radios__item">
              <govuk-input class="govuk-radios__input"
                           id="QuestionType-MultiSelect"
                           asp-for="QuestionType"
                           type="radio"
                           value="@QuestionType.MultiSelect"
                           govuk-error-for="@Model.QuestionType"/>
              <label class="govuk-label govuk-radios__label" for="QuestionType-MultiSelect">
                One or more options (multi-select)
              </label>
              <div class="govuk-hint govuk-radios__hint">
                Use this when people can select more than one option.
              </div>
            </div>
          </div>
        </fieldset>
      </govuk-form-group>

      <!-- Navigation / routing radios that reveal additional inputs when selected -->
      <govuk-form-group asp-for="@Model.NavigationOption">
        <fieldset class="govuk-fieldset" aria-describedby="NavigationOption-hint NavigationOption-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              After answer, go to
            </h2>
          </legend>

          <div id="NavigationOption-hint" class="govuk-hint">
            Choose where to send the user after they answer this question.
          </div>

          <govuk-field-error asp-for="@Model.NavigationOption" error-id="NavigationOption-error">
          </govuk-field-error>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <govuk-input class="govuk-radios__input"
                           id="Nav-NextQuestion"
                           asp-for="NavigationOption"
                           type="radio"
                           value="NextQuestion"
                           data-aria-controls="Nav-NextQuestion-reveal"/>
              <label class="govuk-label govuk-radios__label" for="Nav-NextQuestion">
                Next question
              </label>
              <div class="govuk-hint govuk-radios__hint">
                Use this to direct people to the next question in the order.
              </div>

              <div id="Nav-NextQuestion-reveal" class="govuk-radios__conditional">
                <!-- No extra input for next question; kept for parity -->
              </div>
            </div>

            <div class="govuk-radios__item">
              <govuk-input class="govuk-radios__input"
                           id="Nav-SpecificQuestion"
                           asp-for="NavigationOption"
                           type="radio"
                           value="SpecificQuestion"
                           data-aria-controls="Nav-SpecificQuestion-reveal"/>
              <label class="govuk-label govuk-radios__label" for="Nav-SpecificQuestion">
                Specific question
              </label>
              <div class="govuk-hint govuk-radios__hint">
                Use this to direct people to a specific question.
              </div>

              <div id="Nav-SpecificQuestion-reveal" class="govuk-radios__conditional">
                <label class="govuk-label govuk-!-margin-bottom-2" for="SelectedQuestionId">Select a question</label>
                <select class="govuk-select equal-input-width" id="SelectedQuestionId" asp-for="SelectedQuestionId" asp-items="Model.QuestionSelectList"></select>
              </div>
            </div>

            <div class="govuk-radios__item">
              <govuk-input class="govuk-radios__input"
                           id="Nav-ResultsPageInternal"
                           asp-for="NavigationOption"
                           type="radio"
                           value="ResultsPageInternal"
                           data-aria-controls="Nav-ResultsPageInternal-reveal"/>
              <label class="govuk-label govuk-radios__label" for="Nav-ResultsPageInternal">
                Results page (created in 'Get to an answer')
              </label>
              <div class="govuk-hint govuk-radios__hint">
                Use this to direct people to a results page created on the 'Add and edit results' page.
              </div>

              <div id="Nav-ResultsPageInternal-reveal" class="govuk-radios__conditional">
                <label class="govuk-label govuk-!-margin-bottom-2" for="SelectedResultsPageId">Select a results page</label>
                <select class="govuk-select equal-input-width" id="SelectedResultsPageId" asp-for="SelectedResultsPageId" asp-items="Model.ResultsPageSelectList"></select>
              </div>
            </div>

            <div class="govuk-radios__item">
              <govuk-input class="govuk-radios__input"
                           id="Nav-ResultsPageExternal"
                           asp-for="NavigationOption"
                           type="radio"
                           value="ResultsPageExternal"
                           data-aria-controls="Nav-ResultsPageExternal-reveal"/>
              <label class="govuk-label govuk-radios__label" for="Nav-ResultsPageExternal">
                Results page (outside of 'Get to an answer')
              </label>
              <div class="govuk-hint govuk-radios__hint">
                Use this to add a link and direct people to a results page.
              </div>

              <div id="Nav-ResultsPageExternal-reveal" class="govuk-radios__conditional">
                <label class="govuk-label govuk-!-margin-bottom-2" for="ExternalResultsLink">Enter a link</label>
                <input class="govuk-input equal-input-width" id="ExternalResultsLink" asp-for="ExternalResultsLink" />
              </div>
            </div>
          </div>
        </fieldset>
      </govuk-form-group>

      <button class="govuk-button" type="submit" formnovalidate="formnovalidate" data-module="govuk-button"
              data-prevent-double-click="true" data-govuk-button-init="">
        Continue
      </button>
    </form>

  </div>
</div>