@page "/admin/questionnaires/{questionnaireId:guid}/questions/{questionId:guid}/edit"
@addTagHelper *, Common
@using Common.Enum
@using Common.Models
@model Admin.Pages.Questions.EditQuestion

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit question";

    var displayAnswerPriorities = Model.QuestionType == QuestionType.MultiSelect;
}

@section BeforeContent
{
    <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
    @await Html.PartialAsync("_ErrorSummary")
}

@if (Model.QuestionSaved || Model.QuestionnaireState is { JustUpdated: true })
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                 aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        Your changes have been saved
                    </h3>

                    @if (Model.CurrentQuestionHasNextOne)
                    {
                        <p>
                            <a href="@string.Format(Routes.EditQuestion, Model.QuestionnaireId, Model.NextQuestionId)">Continue
                                to the next question</a>
                        </p>
                    }
                    else
                    {
                        <form method="post">
                            <input type="hidden" name="QuestionnaireId" value="@Model.QuestionnaireId"/>
                            <button class="govuk-button govuk-button--start" type="submit"
                                    asp-page-handler="AddQuestion">Add a
                                question
                            </button>
                        </form>
                        
                    }
                    <p>
                        <a href="@string.Format(Routes.AddAndEditQuestionsAndAnswers, Model.QuestionnaireId)">Back to your questions</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
            <span class="govuk-caption-l">Question @Model.QuestionNumber</span>
            Edit question
        </h1>
        <form method="post">
            <input type="hidden" asp-for="@Model.BackLinkSlug" />
            
            <govuk-form-group asp-for="QuestionContent">
                <label class="govuk-label govuk-label--m" for="QuestionContent">
                    Your question
                </label>
                <div class="govuk-hint" id="QuestionContent-hint">
                    Ask the question the way you would in person. For example, ‘Which of these countries have you lived in?’
                </div>

                <govuk-field-error asp-for="QuestionContent" error-id="QuestionContent-error"/>
                <govuk-input id="QuestionContent"
                             asp-for="QuestionContent"
                             class="govuk-input"
                             govuk-error-for="QuestionContent-error"/>

            </govuk-form-group>

            <govuk-form-group asp-for="QuestionHintText">
                <label class="govuk-label govuk-label--m" for="QuestionHintText">
                    Hint text (optional)
                </label>
                <div class="govuk-hint" id="QuestionHintText-hint">
                    You can add a short sentence to help people answer the question.
                    For example, if someone can select one or more options, use 'Select all that apply'.
                </div>

                <textarea class="govuk-textarea"
                          id="QuestionHintText"
                          asp-for="QuestionHintText"
                          rows="4"></textarea>
            </govuk-form-group>

            <h2 class="govuk-heading-m govuk-!-margin-top-6">Answer type</h2>
            <p class="govuk-body">Choose how many options people will be able to select to answer.</p>

            <div class="govuk-radios" data-module="govuk-radios">
                @{
                    QuestionType[] options = [QuestionType.SingleSelect, QuestionType.DropdownSelect, QuestionType.MultiSelect];
                    foreach (var option in options)
                    {
                        <div class="govuk-radios__item">
                            <govuk-input class="govuk-radios__input"
                                         asp-for="QuestionType"
                                         type="radio"
                                         value="@(option)"
                                         id="@($"{option}-radio")"/>
                            @if (option == QuestionType.SingleSelect)
                            {
                                <label class="govuk-label govuk-radios__label" for="@($"{option}-radio")">
                                    One option only (using <a href="https://design-system.service.gov.uk/components/radios/">radio buttons</a>)
                                </label>
                                <div class="govuk-hint govuk-radios__hint">
                                    Use for a small list of options
                                </div>
                            }
                            else if (option == QuestionType.DropdownSelect)
                            {
                                <label class="govuk-label govuk-radios__label" for="QuestionType-Dropdown">
                                    One option only (using a <a href="https://design-system.service.gov.uk/components/select/">drop-down</a>)
                                </label>
                                <div class="govuk-hint govuk-radios__hint">
                                    Use for a longer list of options
                                </div>
                            }
                            else if (option == QuestionType.MultiSelect)
                            {
                                <label class="govuk-label govuk-radios__label" for="QuestionType-MultiSelect">
                                    One or more options (using <a href="https://design-system.service.gov.uk/components/checkboxes/">checkboxes</a>)
                                </label>
                                <div class="govuk-hint govuk-radios__hint">
                                    Use for selecting one or more options
                                </div>
                            }
                        </div>
                    }
                }
            </div>

            <div class="govuk-summary-card app-summary-card govuk-!-margin-top-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Answers</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action gtaa-add-edit-answer-table">
                            <input type="hidden" name="QuestionNumber" value="@Model?.QuestionNumber"/>
                            <input type="hidden" name="QuestionnaireId" value="@Model?.QuestionnaireId"/>
                            <input type="hidden" name="QuestionId" value="@Model?.QuestionId"/>
                            <button asp-page-handler="AnswerEdit" type="submit" class="govuk-link govuk-button--link" data-module="govuk-button"
                                    data-prevent-double-click="true" data-govuk-button-init="">Edit</button>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Answer</th>
                            @if (displayAnswerPriorities)
                            {
                                <th scope="col" class="govuk-table__header">Priority</th>
                            }
                            <th scope="col" class="govuk-table__header">Destination</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        @foreach (var answer in Model?.Answers ?? [])
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">@answer.Content</td>
                                @if (displayAnswerPriorities)
                                {
                                    <td class="govuk-table__cell">@answer.Priority</td>
                                }
                                <td class="govuk-table__cell">@answer.Destination</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="govuk-!-margin-top-6 govuk-!-display-flex govuk-!-gap-3" style="justify-content: start;">
                <button class="govuk-button govuk-button--primary" type="submit" asp-page-handler="SaveQuestion">
                    Save question
                </button>
                <button class="govuk-button govuk-button--warning" type="submit" asp-page-handler="DeleteQuestion">
                    Delete question
                </button>
            </div>
        </form>
    </div>
</div>