@page "/admin/questionnaires/{questionnaireId:guid}/integration-guide"
@using Common.Local
@model Admin.Pages.Integration.IntegrationGuide

@{
    ViewData["Title"] = "How to add a questionnaire to your service";

    var questionnaireSlug = Model.Questionnaire?.Slug;
    var gtaaBaseUrl = Model.FrontEndUrl;

    var checklistFileUrl = "https://educationgovuk.sharepoint.com/sites/DesignOps/Shared%20Documents/7.Design/Patterns%20and%20Components/GTAA%20pre-publication%20checklist.xlsx";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/admin/questionnaires/@Model.QuestionnaireId/track">Back</a>
}

<h1 class="govuk-heading-l govuk-!-margin-0">
  <span class="govuk-caption-l">@Model.QuestionnaireTitle</span>
  @ViewData["Title"]
</h1>

<h2 class="govuk-heading-m govuk-!-margin-top-4">
  Before you start
</h2>
<div class="govuk-body govuk-!-margin-bottom-8">
  <p>Before adding a questionnaire to your service, you must check it against this <a href="@checklistFileUrl" target="_blank">DfE pre-publication checklist</a>.</p>
  <p>Download a copy to fill in and email it to <a href="mailto:design.ops@education.gov.uk?subject=Get%20to%20an%20answer%20pre-publication%20checklist%20for%20[questionnaire%20name]">design.ops@education.gov.uk</a> with the subject as "Get to an answer pre-publication checklist for [questionnaire name]".</p>
  <p>Once you have emailed the completed checklist and published your questionnaire, you can add it to your service. It's recommended that a developer does this.</p> 
  <p>There are 3 options for adding a questionnaire to your service.</p>
</div>

<h2 class="govuk-heading-m govuk-!-margin-top-4">
  Option 1: Send or add a link
</h2>
<div class="govuk-body govuk-!-margin-bottom-8">
  <p class="govuk-body">Take service users to your questionnaire on the 'Get to an answer' website by either:</p>

  <div class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
      <li>sending a link to them directly</li>
      <li>adding a link to your service</li>
    </ul>
  </div>

  <p class="govuk-body">To do this, copy and paste the following link:</p>
  <div class="govuk-code-example">
    <button type="button" class="govuk-code-example__copy">
      Copy code
    </button>
    <pre><code class="language-bash">
@gtaaBaseUrl/questionnaires/@questionnaireSlug/start?embed=false
  </code></pre>
  </div>
  
  <p>If you use this option, you should not set any answer destinations to a link outside 'Get to an answer', as these will not work.</p>

  <p>However, you can use results pages, which are made within 'Get to an answer'.</p>
</div>


<h2 class="govuk-heading-m govuk-!-margin-top-4">
  Option 2: Embed an iframe
</h2>
<div class="govuk-body govuk-!-margin-bottom-8">
  <p>You can embed the following iframe into your page:</p>

  <div id="embed-iframe-code-container" class="govuk-code-example">
    <button id="embed-iframe-code-copy-btn" type="button" class="govuk-code-example__copy">
      Copy code
    </button>
    <pre><code id="embed-iframe-code">
&lt;div class="gtaa-wrapper" style="margin:0 auto; max-width:100%; width:100%;"&gt;
  &lt;iframe id="gtaaFrame"
          title="@Model.Questionnaire?.Title"
          src="@gtaaBaseUrl/questionnaires/@questionnaireSlug/start?embed=true"
          allow="autoplay"
          referrerpolicy="strict-origin"
          sandbox="allow-scripts allow-top-navigation allow-forms"
          style="width:100%; height:100%; border:none;"&gt;&lt;/iframe&gt;
&lt;/div&gt;
&lt;script asp-add-nonce="true" src="@gtaaBaseUrl/js/gtaa.external.js"&gt;&lt;/script&gt;
  </code></pre>
  </div>
</div>


<h2 class="govuk-heading-m govuk-!-margin-top-4">
  Option 3: Integrate into Contentful
</h2>
<div class="govuk-body govuk-!-margin-bottom-8">
  <p>If you use Contentful as your content management system (CMS), you can integrate your questionnaire into Contentful.</p>

  <p>Firstly, add the following migration script to your Contentful migrations project:</p>
  
  <div class="govuk-code-example">
    <button type="button" class="govuk-code-example__copy">
      Copy code
    </button>
    <pre><code class="language-typescript">
module.exports = function (migration) {
  const gtaa = migration.createContentType('getToAnAnswer')
    .name('GetToAnAnswer')
    .displayField('title')
    .description('Embeddable iframe that renders a questionnaire runner');

  gtaa.createField('title').name('Title').type('Symbol').required(true);
  gtaa.createField('questionnaireSlug')
    .name('Questionnaire Slug')
    .type('Symbol')
    .validations([{ regexp: { pattern: '^([a-zA-Z0-9|-]).+' }, message: 'Must be a questionnaire slug' }]);
  gtaa.changeEditorInterface('questionnaireSlug', 'singleLine');

  const page = migration.editContentType('page');
  page.editField('mainContent').validations([
    { enabledMarks: ['bold', 'italic'] },
    { enabledNodeTypes: ['heading-2','heading-3','heading-4','ordered-list','unordered-list','embedded-entry-block','embedded-asset-block','entry-hyperlink','hyperlink','embedded-entry-inline','hr','table'] },
    { nodes: { 'embedded-entry-block': [{ linkContentType: ['definitionContent','callToAction','grid','richContentBlock','banner','statusChecker','riddle','getToAnAnswer','spacer','button'] }] } }
  ]);
};
   </code></pre>
  </div>
  
  <p>You then need to map the content model to the following iframe:</p>
<div class="govuk-code-example">
  <button type="button" class="govuk-code-example__copy">
    Copy code
  </button>
  <pre><code>
&lt;div class="gtaa-wrapper" style="margin:0 auto; max-width:100%; width:100%;"&gt;
  &lt;iframe id="gtaaFrame"
          title="@Model.Questionnaire?.Title"
          src="@gtaaBaseUrl/questionnaires/@questionnaireSlug/start?embed=true"
          allow="autoplay"
          referrerpolicy="strict-origin"
          sandbox="allow-scripts allow-top-navigation allow-forms"
          style="width:100%; height:100%; border:none;"&gt;&lt;/iframe&gt;
&lt;/div&gt;
&lt;script asp-add-nonce="true" src="@gtaaBaseUrl/js/gtaa.external.js"&gt;&lt;/script&gt;
  </code></pre>
  </div>
</div>

@section Scripts {
  <script asp-add-nonce="true" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>

  <!-- and it's easy to individually load additional languages -->
  <script asp-add-nonce="true" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/javascript.min.js"></script>
  <script asp-add-nonce="true" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/typescript.min.js"></script>
  <script asp-add-nonce="true" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/json.min.js"></script>
  <script asp-add-nonce="true" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/xml.min.js"></script>
  <script asp-add-nonce="true" type="text/javascript">
    
    // Highlight.js initialisation
    document.addEventListener('DOMContentLoaded', function () {
      if (window.hljs && typeof hljs.highlightAll === 'function') {
        hljs.highlightAll();
      }
    });

    document.addEventListener('click', function (e) {
      const button = e.target.closest('.govuk-code-example__copy');
      if (!button) return;

      const container = button.closest('.govuk-code-example');
      const code = container.querySelector('pre code');
      if (!code) return;

      const text = code.textContent;

      navigator.clipboard.writeText(text).then(function () {
        const original = button.textContent;
        button.textContent = 'Copied';
        setTimeout(() => (button.textContent = original), 2000);
      }).catch(function () {
        // Fallback: just select the text
        const range = document.createRange();
        range.selectNodeContents(code);
        const selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
      });
    });
  </script>
}