@using System.Globalization
@using System.Security.Claims
@using Common.Models.ViewModels
@using Common.Configuration

@inject IWebHostEnvironment WebHostEnvironment

@{
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();
    if (string.IsNullOrEmpty(languageCode))
    {
        languageCode = "en";
    }

    ViewBag.FullName = User.FindFirst(ClaimTypes.Name)?.Value;

    var configViewModel = new ConfigViewModel();
}

<!DOCTYPE html>
<html class="@(SiteConfiguration.Rebrand ? "govuk-template--rebranded" : "govuk-template")" lang="@languageCode">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <style asp-add-nonce="true">
        :root {
            --generated: '@DateTime.Today.ToString("d MMMM yyyy", DateTimeFormatInfo.InvariantInfo)';
        }
    </style>
    @if (SiteConfiguration.Rebrand)
    {
        <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico" asp-append-version="false"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/assets/rebrand/images/favicon.svg"
              asp-append-version="false"/>
        <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#0b0c0c"
              asp-append-version="false"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/rebrand/images/govuk-icon-180.png"
              asp-append-version="false"/>
        <link rel="manifest" href="/assets/rebrand/manifest.json">
    }
    else
    {
        <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico" asp-append-version="false"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/assets/images/favicon.svg" asp-append-version="false"/>
        <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c" asp-append-version="false"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-icon-180.png"
              asp-append-version="false"/>
        <link rel="manifest" href="/assets/manifest.json">
    }

    <meta name="apple-mobile-web-app-title" content="checker"/>

    <link rel="stylesheet" href="~/css/application.css" asp-append-version="false"/>
    <link rel="stylesheet" href="~/css/print.css" asp-append-version="false"/>
    @if (SiteConfiguration.Rebrand)
    {
        <link rel="stylesheet" href="~/css/rebrand.css" asp-append-version="false"/>
    }
    
    @if (IsSectionDefined("Head"))
    {
        @await RenderSectionAsync("Head", required: false)
    }
</head>

<body class="govuk-template__body">
<script asp-add-nonce="true">
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>

<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
@{
    await Html.RenderPartialAsync("_Header", configViewModel);
}

<div class="govuk-service-navigation app-service-navigation" data-module="govuk-service-navigation"
     data-govuk-service-navigation-init="">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <span class="govuk-service-navigation__service-name">
                <a href="/" class="govuk-service-navigation__link">
                    @configViewModel.ServiceDisplayName
                </a>
            </span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                        aria-controls="navigation" hidden="">Menu
                </button>
                <ul id="navigation" class="govuk-service-navigation__list">
                    <li class="govuk-service-navigation__item">
                        <a class="govuk-service-navigation__link" aria-current="true"
                           href="https://www.forms.service.gov.uk/support">Support</a>
                    </li>
                    <li class="govuk-service-navigation__item app-service-navigation__item--featured">
                        <span class="govuk-service-navigation__text">@ViewBag.FullName</span>
                    </li>
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <li class="govuk-service-navigation__item">
                            <a class="govuk-service-navigation__link" aria-current="true" href="/sign-out">Sign out</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@if (IsSectionDefined("BeforeGDSContent"))

{
    <section class="dfe-page-grey" id="main-content-header">
        <div class="govuk-width-container" id="main-header-container">
            @await RenderSectionAsync("BeforeGDSContent", required: false)
        </div>
    </section>
}



@await RenderSectionAsync("BeforeContainer", required: false)
<div class="govuk-width-container @ViewBag.ContainerClasses" id="main-content-container">
    @await RenderSectionAsync("BeforeContent", required: false)
    <main class="govuk-main-wrapper @ViewBag.MainClasses" id="main-content" role="main" lang="@ViewBag.MainLang">
        @if (Model.GtaaApiErrorMessage != null)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-notification-banner govuk-notification-banner--warning" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                        <div class="govuk-notification-banner__header">
                            <h2 id="gtaa-api-error-banner-label" class="govuk-notification-banner__title">
                                Error: @Model.GtaaApiAction
                            </h2>
                        </div>
                        <div class="govuk-notification-banner__content">
                            <p id="gtaa-api-error-banner-text" class="govuk-notification-banner__heading">
                                @Model.GtaaApiErrorMessage
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @RenderBody()
    </main>
</div>
@if (IsSectionDefined("AfterGDSContent"))
{
    <section class="dfe-page-grey" id="main-content-footer">
        <div class="govuk-width-container">
            @await RenderSectionAsync("AfterGDSContent")
        </div>
    </section>
}

@{
    await Html.RenderPartialAsync("_Footer", configViewModel);
}

<script asp-add-nonce="true" src="/js/step-by-step-navigation.js"></script>
<script asp-add-nonce="true" src="/js/step-by-step-polyfills.js"></script>
@await RenderSectionAsync("Scripts", false)
<script asp-add-nonce="true" type="module">
    import {initAll} from '/js/govuk-frontend.min.js'

    initAll()
</script>
<script asp-add-nonce="true" src="/js/dfefrontend.min.js"></script>
</body>

</html>