@using System.Globalization
@using System.Security.Claims
@using Admin.Pages.Preview
@using Common.Models.ViewModels
@using Common.Configuration
@using Common.Domain
@using Common.Extensions
@using Admin.Pages.Questionnaire

@inject IWebHostEnvironment WebHostEnvironment

@{
    var languageCode = Context.Request.RouteValues["languageCode"]?.ToString();
    if (string.IsNullOrEmpty(languageCode))
    {
        languageCode = "en";
    }

    ViewBag.FullName = User.FindFirst(ClaimTypes.Name)?.Value;

    var configViewModel = new ConfigViewModel();
    
    ViewBag.IsPreview = true;
}

<!DOCTYPE html>
<html class="@(SiteConfiguration.Rebrand ? "govuk-template--rebranded" : "govuk-template")
    @(Model.IsEmbedded ? "govuk-no-scroll" : "")" lang="@languageCode">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <style asp-add-nonce="true">
        :root {
            --generated: '@DateTime.Today.ToString("d MMMM yyyy", DateTimeFormatInfo.InvariantInfo)' ;
        }
    </style>
    @if (SiteConfiguration.Rebrand)
    {
        <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico" asp-append-version="false"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/assets/rebrand/images/favicon.svg" asp-append-version="false"/>
        <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="#0b0c0c" asp-append-version="false"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/rebrand/images/govuk-icon-180.png" asp-append-version="false"/>
        <link rel="manifest" href="/assets/rebrand/manifest.json">
    }
    else
    {
        <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico" asp-append-version="false"/>
        <link rel="icon" sizes="any" type="image/svg+xml" href="/assets/images/favicon.svg" asp-append-version="false"/>
        <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="#0b0c0c" asp-append-version="false"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-icon-180.png" asp-append-version="false"/>
        <link rel="manifest" href="/assets/manifest.json">
    }

    <meta name="apple-mobile-web-app-title" content="checker" />

    <link rel="stylesheet" href="~/css/application.css" asp-append-version="false"/>
    <link rel="stylesheet" href="~/css/print.css" asp-append-version="false"/>
    @if (SiteConfiguration.Rebrand)
    {
        <link rel="stylesheet" href="~/css/rebrand.css" asp-append-version="false"/>
    }

    @if (IsSectionDefined("Head")) {
        @await RenderSectionAsync("Head", required: false)
    }
    
    @if (Model is QuestionnaireNext || Model is QuestionnaireStart)
    {
        var questionnaire = Model?.Questionnaire as QuestionnaireInfoDto;
        var hintColor = questionnaire?.TextColor.ToHintTextColor();
        var buttonHoverColor = questionnaire?.PrimaryButtonColor.ToHoverColor();
        var buttonShadowColor = questionnaire?.PrimaryButtonColor.ToShadowColor();

        <style>
        .govuk-button {
            background-color: @Model?.Questionnaire.PrimaryButtonColor;
            box-shadow: 0 2px 0 @buttonShadowColor;
        }
        .govuk-button:hover {
            background-color: @buttonHoverColor;
        }
        .govuk-button:focus, .govuk-radios__input:focus, .govuk-checkboxes__input:focus {
            border-color: @Model?.Questionnaire.StateColor !important;
            background-color: @Model?.Questionnaire.StateColor !important;
        }
        .govuk-select:focus {
            outline-color: @Model?.Questionnaire.StateColor !important;
        }
        h1, h2, h3, h4, h5, h6, label, .govuk-body {
            color: @Model?.Questionnaire.TextColor !important;
        }
        .govuk-hint {
            color: @hintColor !important;
            .govuk-body {
                color: @hintColor !important;
            }
        }
        .govuk-template__body {
          background-color: @Model?.Questionnaire.BackgroundColor !important;
        }
        </style>
    }
</head>

<body class="govuk-template__body">
<script asp-add-nonce="true">
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>

<a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
@{
    if (!Model.IsEmbedded)
    {
        await Html.RenderPartialAsync("_Header", configViewModel);
    }
}

@if (!Model.IsEmbedded)
{
    <div class="govuk-service-navigation app-service-navigation" data-module="govuk-service-navigation" data-govuk-service-navigation-init="">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container">
                <span class="govuk-service-navigation__service-name">
                    <a href="/" class="govuk-service-navigation__link">
                        @configViewModel.ServiceDisplayName
                    </a>
                </span>
                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                    <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden="">Menu</button>
                    <ul id="navigation" class="govuk-service-navigation__list">
                        <li class="govuk-service-navigation__item">
                            <a class="govuk-service-navigation__link" aria-current="true" href="https://www.forms.service.gov.uk/support">Support</a>
                        </li>
                        <li class="govuk-service-navigation__item app-service-navigation__item--featured">
                            <span class="govuk-service-navigation__text">@ViewBag.FullName</span>
                        </li>
                        @if (User?.Identity?.IsAuthenticated == true)
                        {
                            <li class="govuk-service-navigation__item">
                                <a class="govuk-service-navigation__link" aria-current="true" href="/sign-out">Sign out</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}

@if (IsSectionDefined("BeforeGDSContent"))

{
    <section class="dfe-page-grey" id="main-content-header">
        <div class="govuk-width-container" id="main-header-container">
            @await RenderSectionAsync("BeforeGDSContent", required: false)
        </div>
    </section>
}

@await RenderSectionAsync("BeforeContainer", required: false)
<div class="govuk-width-container @ViewBag.ContainerClasses" id="main-content-container">
    @await RenderSectionAsync("BeforeContent", required: false)
    
    <main class="govuk-main-wrapper @ViewBag.MainClasses" id="main-content" role="main" lang="@ViewBag.MainLang">
        @RenderBody()
    </main>
</div>
@if (IsSectionDefined("AfterGDSContent"))
{
    <section class="dfe-page-grey" id="main-content-footer">
        <div class="govuk-width-container">
            @await RenderSectionAsync("AfterGDSContent")
        </div>
    </section>
}

@{
    if (!Model.IsEmbedded)
    {
        await Html.RenderPartialAsync("_Footer", configViewModel);
    }
}

@await RenderSectionAsync("Scripts", false)
<script asp-add-nonce="true" src="/js/dfefrontend.min.js"></script>
</body>

</html>