@page "/admin/questionnaires/{questionnaireId:guid}/questions/{questionId:guid}/answers/add"
@addTagHelper *, Common
@using Admin.Models
@using Common.Enum
@model Admin.Pages.Answers.AddAnswerOptionOptions

@{
  Layout = "_Layout";
  
  ViewData["Title"] = "Add or edit answers";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-0">
      <p class="govuk-caption-l">Question @Model.QuestionNumber</p>
      @ViewData["Title"]
    </h1>

    <p class="govuk-hint  govuk-!-margin-bottom-8">
      People will be able to select one option from your list.
    </p>
    
    <form method="post" accept-charset="UTF-8">
      <input type="hidden" asp-for="@Model.BackLinkSlug" />
      <input name="returnUrl" type="hidden" value="@($"{Request.Path}{Request.QueryString}")"/>

      <div class="govuk-body gtaa-add-edit-questions-page">
        You can add your options individually below, or you can
        
          @* TODO: Change this button to a link, so it can line wrap (same goes for the other button) *@
          <button type="submit" asp-page-handler="RedirectToBulkEntry"
                  class="govuk-button govuk-button--link govuk-!-margin-0">
            enter all the options into one text box
          </button>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Answer options</h2>
      
      @for (var index = 0; index < Model.Options.Count; index++)
      {
        var viewData = new ViewDataDictionary(ViewData)
        {
          TemplateInfo =
          {
            HtmlFieldPrefix = $"Options[{index}]"
          }
        };

        @await Html.PartialAsync("AnswerOptionsPartial", Model.Options[index], viewData)

        var isLast = index == Model.Options.Count - 1;
        var marginBottom = isLast ? "margin-0" : "margin-bottom-11";

        <button class="govuk-button govuk-button--secondary govuk-!-@marginBottom"
                type="submit"
                name="index"
                value="@index"
                asp-page-handler="RemoveOption"
                formnovalidate="formnovalidate">
          Remove
        </button>
      }

      <div class="govuk-!-margin-top-3 govuk-!-display-flex govuk-!-gap-3 govuk-!-flex-wrap  gtaa-add-edit-questions-page govuk-!-v-align">
        <button class="govuk-button govuk-button--secondary"
                type="submit"
                asp-page-handler="AddOption">
          Add another option
        </button>

        <input name="returnUrl" type="hidden" value="@($"{Request.Path}{Request.QueryString}")"/>
        <button type="submit" asp-page-handler="RedirectToBulkEntry"
                class="govuk-button govuk-button--link govuk-!-margin-left-4">
          Enter all the options into one text box
        </button>

      </div>

      <button class="govuk-button govuk-!-margin-top-6"
              asp-page-handler="Continue"
              type="submit"
              formnovalidate="formnovalidate"
              data-module="govuk-button"
              data-prevent-double-click="true"
              data-govuk-button-init="">
        Save and continue
      </button>
    </form>
  </div>
</div>