@using Admin.Models
@using Common.Enum
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@addTagHelper *, Common
@model Admin.Models.AnswerOptionsViewModel

@{
  var prefix = ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)
    .Replace("[", "-")
    .Replace("]", "")
    .Replace(".", "-");
  
  string Id(string suffix) => $"{prefix}-{suffix}";

  string OptionIdWithIndex(string fieldName) => $"Options[{Model.OptionNumber - 1}].{fieldName}";
  
  var contentIdSuffix = "OptionContent";
  var contentHintIdSuffix = "OptionHint";
  var contentHintHintIdSuffix = "OptionHintHint";
  var priorityHintIdSuffix = "PriorityHint";
  var destinationIdSuffix = "AnswerDestination";
  
  var destinationSpecificSelectErrorId = $"{destinationIdSuffix}-specific-error";
  var destinationInternalSelectErrorId = $"{destinationIdSuffix}-internal-error";
  var destinationExternalSelectErrorId = $"{destinationIdSuffix}-external-error";
  
}

<input type="hidden" asp-for="OptionNumber"/>
<input type="hidden" asp-for="AnswerId"/>

<govuk-form-group asp-for="OptionContent">

  <label class="govuk-label govuk-label--s" for="@Id(contentIdSuffix)">
    Option @Model.OptionNumber
  </label>

  <govuk-field-error asp-for="@Model.OptionContent" error-id="@Id($"{contentIdSuffix}-error")">
  </govuk-field-error>

  @{
    var optionContentHasError = ViewData.ModelState.TryGetValue(OptionIdWithIndex("OptionContent"), out var internalEntry) && internalEntry?.Errors.Count > 0;
  }
  <govuk-input id="@Id(contentIdSuffix)"
               class="govuk-input"
               type="text"
               asp-for="@Model.OptionContent"
               govuk-error-for="@Id($"{contentIdSuffix}-error")"
               aria-describedby="@(optionContentHasError ? $"{Id(contentIdSuffix)}-error": string.Empty)" 
               custom-override-aria-describedby="true" />
</govuk-form-group>

<govuk-form-group asp-for="OptionHint">
  <label class="govuk-label govuk-label--s" for="@Id(contentHintIdSuffix)">
    Hint text (optional)
  </label>
  <div class="govuk-hint" id="@Id(contentHintHintIdSuffix)">
    <p>You can add a short description to help people understand what this option is.</p>
    <p>You can format your text using Markdown. For example, to add links. To find out more, <a href="https://becoming-a-teacher.design-history.education.gov.uk/how-to/how-to-write-markdown/">read this guidance on how to write Markdown.</a></p>
  </div>
  
  <textarea class="govuk-textarea"
            id="@Id(contentHintIdSuffix)"
            rows="4"
            asp-for="OptionHint"
            aria-describedby="@Id(contentHintHintIdSuffix)"></textarea>
</govuk-form-group>

<govuk-form-group asp-for="AnswerDestination">
  <fieldset class="govuk-fieldset"
            aria-describedby="@($"{Id($"{destinationIdSuffix}-hint")}")">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      Destination
    </legend>
    
    <div class="govuk-hint" id="@($"{Id($"{destinationIdSuffix}-hint")}")">
      <p>Choose where people go next when they select this option.</p>
    </div>

    <govuk-field-error asp-for="AnswerDestination" error-id="@Id($"{destinationIdSuffix}-error")">
    </govuk-field-error>

    <div class="govuk-radios" data-module="govuk-radios" id="@Id(destinationIdSuffix)">
      <div class="govuk-radios__item">
        <govuk-input class="govuk-radios__input"
                     id="@Id("destination-next")"
                     asp-for="AnswerDestination"
                     type="radio"
                     value="@AnswerDestination.NextQuestion"
                     aria-describedby="@Id($"{destinationIdSuffix}-hint")" />
        <label class="govuk-label govuk-radios__label" for="@Id("destination-next")">
          Next question
        </label>
      </div>

      <div class="govuk-radios__item">
        <govuk-input class="govuk-radios__input"
                     id="@Id("destination-specific")"
                     asp-for="AnswerDestination"
                     type="radio"
                     value="@AnswerDestination.SpecificQuestion"
                     data-aria-controls="@Id("destination-specific-reveal")"/>
        <label class="govuk-label govuk-radios__label" for="@Id("destination-specific")">
          Specific question
        </label>
      </div>

      <div id="@Id("destination-specific-reveal")" class="govuk-radios__conditional">
        @{
          var hasSpecificError = ViewData.ModelState.TryGetValue($"{prefix}-destination-specific", out var destinationSpecificEntry) && destinationSpecificEntry?.Errors.Count > 0;
        }
        <div class="govuk-form-group @(hasSpecificError ? "govuk-form-group--error" : "")">
          <label class="govuk-label govuk-!-margin-bottom-2" for="@Id("destination-specific-select")">
            Select a question
          </label>

          @if (hasSpecificError)
          {
          <p id="@Id($"{destinationIdSuffix}-specific-error")" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Please select a question
            </p>
          }

          <select class="govuk-select equal-input-width @(hasSpecificError ? "govuk-select--error" : "")"
                  id="@Id("destination-specific-select")"
                  asp-for="SelectedDestinationQuestion"
                  asp-items="Model.QuestionSelectList"
                  govuk-error-for="@Id(destinationSpecificSelectErrorId)"
                  aria-describedby="@(hasSpecificError ? Id(destinationSpecificSelectErrorId) : string.Empty) ">
            <option value="">Select a question</option>
          </select>  
        </div>
      </div>

      <div class="govuk-radios__item">
        <govuk-input class="govuk-radios__input"
                     id="@Id("destination-internal")"
                     asp-for="AnswerDestination"
                     type="radio"
                     value="@AnswerDestination.InternalResultsPage"
                     data-aria-controls="@Id("destination-internal-reveal")" 
        />
        <label class="govuk-label govuk-radios__label" for="@Id("destination-internal")">
          Results page
        </label>
      </div>
      
      <div id="@Id("destination-internal-reveal")" class="govuk-radios__conditional">
        @{
          var hasInternalError = ViewData.ModelState.TryGetValue($"{prefix}-destination-internal", out var internalEntry) && internalEntry?.Errors.Count > 0;
        }
        <div class="govuk-form-group @(hasInternalError ? "govuk-form-group--error" : "")">
          <label class="govuk-label govuk-!-margin-bottom-2" for="@Id("destination-internal-select")">
            Select a results page
          </label>
          
          @if (hasInternalError)
          {
            <p id="@Id($"{destinationIdSuffix}-internal-error")" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Please select a results page
            </p>
          }
          
          <select class="govuk-select equal-input-width @(hasInternalError ? "govuk-select--error" : "")"
                  id="@Id("destination-internal-select")"
                  asp-for="SelectedResultsPage"
                  asp-items="Model.ResultsPageSelectList"
                  govuk-error-for="@Id(destinationInternalSelectErrorId)"
                  aria-describedby="@(hasInternalError ? Id(destinationInternalSelectErrorId) : string.Empty) ">
            <option value="">Select a results page</option>
          </select>
        </div>
      </div>

      <div class="govuk-radios__item">
        <govuk-input class="govuk-radios__input"
                     id="@Id("destination-external")"
                     asp-for="AnswerDestination"
                     type="radio"
                     value="@AnswerDestination.ExternalResultsPage"
                     data-aria-controls="@Id("destination-external-reveal")"/>
        <label class="govuk-label govuk-radios__label" for="@Id("destination-external")">
          Link (to a page outside of the questionnaire)
        </label>
      </div>

      <div id="@Id("destination-external-reveal")" class="govuk-radios__conditional">
        @{
          var hasExternalError = ViewData.ModelState.TryGetValue($"{prefix}-destination-external", out var externalLinkEntry) && externalLinkEntry?.Errors.Count > 0;
        }
        <div class="govuk-form-group @(hasExternalError ? "govuk-form-group--error" : "")">
          <label class="govuk-label govuk-!-margin-bottom-2" for="@Id("destination-external-link")">
            Enter a link
          </label>
          
          @if (hasExternalError)
          {
            <p id="@Id(destinationExternalSelectErrorId)" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Please enter an external link
            </p>
          }
          
          <input class="govuk-input equal-input-width @(hasExternalError ? "govuk-input--error" : "")"
                 id="@Id("destination-external-link")"
                 asp-for="ExternalLink"
                 govuk-error-for="@Id(destinationExternalSelectErrorId)"
                 aria-describedby="@(hasExternalError ? Id(destinationExternalSelectErrorId) : $"{Id($"{destinationIdSuffix}-hint")}")" />
        </div>
      </div>
    </div>
  </fieldset>
</govuk-form-group>
  
@{
  if (Model.QuestionType == QuestionType.MultiSelect)
  {
    <govuk-form-group asp-for="RankPriority">
      <label class="govuk-label govuk-label--s" for="@Id("RankPriority")">
        Rank priority (optional)
      </label>

      <div class="govuk-hint" id="@Id(priorityHintIdSuffix)">
        <p>You can rank options to set a priority order. </p>
        <p>If people select more than one option, they will be sent to the destination of the highest ranked option.</p>
        <p>Add 1 for the highest priority answer, add 2 for the highest priority answer, and so on.</p>
      </div>

      <govuk-input id="@Id("RankPriority")"
                 class="govuk-input"
                 type="number"
                 asp-for="@Model.RankPriority"
                 govuk-error-for="@Id("RankPriority-error")"
                 aria-describedby="@Id(priorityHintIdSuffix)" />
    </govuk-form-group>
  }
}
