@page "/admin/questionnaires/{questionnaireId}/questions/{questionId}/answers/add/bulk"
@addTagHelper *, Common
@model Admin.Pages.Answers.BulkAnswerOptions

@{
    Layout = "_Layout";
    ViewData["Title"] = "Enter all answer options";
}

@section BeforeContent
{
    <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
    @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-0">
            <p class="govuk-caption-l">Question @Model.QuestionNumber</p>
            <label class="ovuk-label govuk-label--l" for="BulkAnswerOptions">
                @ViewData["Title"]
            </label>
        </h1>

        <div class="govuk-hint" id="BulksAnswerOptions-hint">
            <p>Write each answer option on a new line.</p>
            <p>Once you have added your options, you can edit them further on the 'Add answers' page.</p>
            <p>You can format your text using Markdown. For example, to add links. To find out more, <a href="https://becoming-a-teacher.design-history.education.gov.uk/how-to/how-to-write-markdown/">read this guidance on how to write Markdown.</a></p>
        </div>  
        <form method="post" accept-charset="UTF-8">
            <input type="hidden" name="returnUrl" asp-for="@Model.ReturnUrl" />
            <input type="hidden" asp-for="QuestionNumber"/>
            <input type="hidden" asp-for="@Model.BackLinkSlug"/>

            <govuk-form-group asp-for="@Model.BulkAnswerOptionsRawText">

                <govuk-field-error asp-for="@Model.BulkAnswerOptionsRawText" error-id="bulk-options-error">
                </govuk-field-error>

                <textarea class="govuk-textarea"
                          id="BulkAnswerOptions"
                          rows="8"
                          asp-for="@Model.BulkAnswerOptionsRawText"
                          aria-describedby="BulksAnswerOptions-hint"></textarea>
            </govuk-form-group>
            <button class="govuk-button govuk-button--primary">Continue</button>
        </form>


    </div>

</div>