@page "/admin/questionnaires/{questionnaireId:guid}/next-preview"
@using Common.Custom
@using Common.Enum
@model Admin.Pages.Preview.QuestionnaireNext

@{
    Layout = "Shared/_Layout";
}

@{
  ViewData["Title"] = Model.Questionnaire.DisplayTitle;
  
  var hasErrors = Model != null && !ViewData.ModelState.IsValid;
}

@if (hasErrors)
{
  @await Html.PartialAsync("_ErrorSummary", Model)
}

@{
  ViewData["Title"] = "Create a new questionnaire";
}

@section BeforeContainer
{
  <section class="dfe-page-grey" id="main-content-header">
    <div class="govuk-width-container" id="main-header-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          @if (Model?.IsRedirectConfirmation ?? false)
          {
            <h1 class="govuk-heading-l">You're being redirected to some relevant content. Would you like to proceed?</h1>
            <p class="govuk-body">This page will show you content related to your answer(s).</p>
          }
          else
          {
            <h1 class="govuk-heading-xl">

              @if (Model?.Destination?.Type == DestinationType.CustomContent)
              {
                @Model?.Destination.Title
              }
              else
              {
                @Model?.Questionnaire?.DisplayTitle
              }
            </h1>
          }
        </div>
      </div>
    </div>
  </section>
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    @if (Model?.IsRedirectConfirmation ?? false)
    {
      <form action="/admin/questionnaires/@Model.Questionnaire.Id/next-preview?embed=@Model.IsEmbedded" accept-charset="UTF-8" method="post">
        <input type="hidden" id="confirm-redirect-input" name="IsRedirectConfirmation" value="true">
        <div class="govuk-form-group">
         <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
           <div class="govuk-radios__item">
             <input id="confirm-redirect-yes-input" aria-describedby="pages-selection-type-input-only-one-option-true-hint"
                    class="govuk-radios__input" type="radio" value="true" name="ConfirmRedirect">
             <label for="confirm-redirect-yes-input" class="govuk-label govuk-radios__label">Yes</label>
           </div>
           <div class="govuk-radios__item">
             <input id="confirm-redirect-no-input" aria-describedby="pages-selection-type-input-only-one-option-false-hint"
                    class="govuk-radios__input" type="radio" value="false" name="ConfirmRedirect">
             <label for="confirm-redirect-no-input" class="govuk-label govuk-radios__label">No</label>
           </div>
         </div>
        </div>
        <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Continue</button>
      </form>
    }
    else if (Model?.Destination?.Type == DestinationType.Question && Model.Destination.Question != null)
    {
      <form action="/admin/questionnaires/@Model.Questionnaire.Id/next-preview?embed=@Model.IsEmbedded" accept-charset="UTF-8" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="NextStateRequest.CurrentQuestionId" value="@Model.Destination.Question.Id" autocomplete="off">
        <input type="hidden" name="NextStateRequest.CurrentQuestionOrder" value="@Model.Destination.Question.Order" autocomplete="off">
        <input type="hidden" name="Questionnaire.Id" value="@Model?.Questionnaire?.Id" autocomplete="off">
        <input type="hidden" name="Questionnaire.Slug" value="@Model?.Questionnaire?.Slug" autocomplete="off">
        <input type="hidden" name="Questionnaire.DisplayTitle" value="@Model?.Questionnaire?.DisplayTitle" autocomplete="off">
        <input type="hidden" name="Questionnaire.Description" value="@Model?.Questionnaire?.Description" autocomplete="off">
        <input type="hidden" name="Destination.Type" value="@Model?.Destination?.Type" autocomplete="off">
        <input type="hidden" name="Destination.Question.Type" value="@Model?.Destination?.Question.Type" autocomplete="off">
        <input type="hidden" name="Destination.Question.Id" value="@Model?.Destination?.Question.Id" autocomplete="off">
        <input type="hidden" name="Destination.Question.Order" value="@Model?.Destination?.Question.Order" autocomplete="off">
        <input type="hidden" name="Destination.Question.Content" value="@Model?.Destination?.Question.Content" autocomplete="off">
        <input type="hidden" name="Destination.Question.Description" value="@Model?.Destination?.Question.Description" autocomplete="off">
        @{
          var hasFieldError = ViewData.ModelState.TryGetValue("NextStateRequest.SelectedAnswerIds", out var ms2) && ms2.Errors.Count > 0;

          var firstErrorMessage = ms2?.Errors.FirstOrDefault()?.ErrorMessage;
          var inputGroupId = $"q-{Model.Destination.Question.Id}";
        }
        <div class="govuk-form-group @(hasFieldError ? "govuk-form-group--error" : "")">
          <fieldset class="govuk-fieldset" aria-describedby="@(Model.Destination.Question.Description != null ? $"{inputGroupId}-hint" : null)">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                @Model.Destination.Question.Content
              </h1>
            </legend>
            @if (hasFieldError && !string.IsNullOrWhiteSpace(firstErrorMessage))
            {
              <p id="@inputGroupId-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @firstErrorMessage
              </p>
            }
            @if (Model.Destination.Question.Description != null)
            {
              <div id="@($"{inputGroupId}-hint")" class="govuk-hint">
                @(Html.Raw(GovUkMarkdown.ToGovUkHtml(Model.Destination.Question.Description)))
              </div>
            }
            @if (Model.Destination.Question.Type == QuestionType.SingleSelect)
            {
              var answers = Model.Destination.Question.Answers;

              <div class="govuk-radios" data-module="govuk-radios">
                @for (var a = 0; a < answers.Count; a++)
                {
                  var answer = Model?.Destination?.Question.Answers[a];

                  var inputId = $"{inputGroupId}-a-{answer?.Id}";
                  var itemHintId = $"{inputId}-hint";

                  <input type="hidden" name="Destination.Question.Answers[@a].Id" value="@answer.Id" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Priority" value="@answer.Priority" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Content" value="@answer.Content" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Description" value="@answer.Description" autocomplete="off">

                  <div class="govuk-radios__item">
                    <input type="hidden" name="Scores.@answer.Id" value="@answer.Priority" autocomplete="off">
                    <input
                      class="govuk-radios__input @(hasFieldError ? "govuk-input--error" : "")"
                      id="@inputId"
                      name="NextStateRequest.SelectedAnswerIds"
                      type="radio"
                      value="@answer.Id"
                      aria-describedby="Answer option id @inputId">
                    <label class="govuk-label govuk-radios__label" for="@inputId">
                      @answer.Content
                    </label>
                    @if (answer.Description != null)
                    {
                      <div id="@itemHintId" class="govuk-hint govuk-radios__hint">
                        @(Html.Raw(GovUkMarkdown.ToGovUkHtml(answer.Description)))
                      </div>
                    }
                  </div>
                }
              </div>
            }
            else if (Model.Destination.Question.Type == QuestionType.MultiSelect)
            {
              var answers = Model.Destination.Question.Answers;

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                @for (var a = 0; a < answers.Count; a++)
                {
                  var answer = Model?.Destination?.Question.Answers[a];

                  <input type="hidden" name="Destination.Question.Answers[@a].Id" value="@answer.Id" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Priority" value="@answer.Priority" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Content" value="@answer.Content" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Description" value="@answer.Description" autocomplete="off">

                  var inputId = $"{inputGroupId}-a-{answer.Id}";
                  var itemHintId = $"{inputId}-hint";
                  <div class="govuk-checkboxes__item">
                    <input type="hidden" name="Scores.@answer.Id" value="@answer.Priority" autocomplete="off">
                    <input
                      class="govuk-checkboxes__input @(hasFieldError ? "govuk-input--error" : "")"
                      id="@inputId"
                      name="NextStateRequest.SelectedAnswerIds"
                      type="checkbox"
                      value="@answer.Id"
                      aria-describedby="@(answer.Description != null ? itemHintId : null)">
                    <label class="govuk-label govuk-checkboxes__label" for="@inputId">
                      @answer.Content
                    </label>
                    @if (answer.Description != null)
                    {
                      <div id="@itemHintId" class="govuk-hint govuk-checkboxes__hint">
                        @(Html.Raw(GovUkMarkdown.ToGovUkHtml(answer.Description)))
                      </div>
                    }
                  </div>
                }
              </div>
            }
            else if (Model.Destination.Question.Type == QuestionType.DropdownSelect)
            {
              var answers = Model.Destination.Question.Answers;

              <div class="govuk-form-group @(hasFieldError ? "govuk-form-group--error" : "")">
                @if (hasFieldError && !string.IsNullOrWhiteSpace(firstErrorMessage))
                {
                  <p id="@inputGroupId-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> @firstErrorMessage
                  </p>
                }
                <label class="govuk-label" for="@($"{inputGroupId}-select")">
                  Select an option
                </label>
                @for (var a = 0; a < answers.Count; a++)
                {
                  var answer = Model?.Destination?.Question.Answers[a];

                  <input type="hidden" name="Destination.Question.Answers[@a].Id" value="@answer?.Id" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Priority" value="@answer?.Priority" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Content" value="@answer?.Content" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Description" value="@answer?.Description" autocomplete="off">
                  <input type="hidden" name="Scores.@answer?.Id" value="@answer?.Priority" autocomplete="off">
                }
                <select class="govuk-select" id="@($"{inputGroupId}-select")" name="NextStateRequest.SelectedAnswerIds">
                  <option value="">Please select an answer</option>
                  @foreach (var answer in answers)
                  {
                    <option value="@answer.Id">@answer.Content</option>
                  }
                </select>
              </div>
            }
          </fieldset>
        </div>
        <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Continue</button>
      </form>
    }
    else if (Model?.Destination?.Type == DestinationType.CustomContent)
    {
      <p>@(Html.Raw(GovUkMarkdown.ToGovUkHtml(Model.Destination.Content)))</p>
    }
    else if (Model?.Destination?.Type == DestinationType.ExternalLink)
    {
      <input type="hidden" id="external-link-dest" value="@Model.Destination.Content">
    }
  </div>
</div>