@page "/admin/questionnaires/{questionnaireId:guid}/contents/add"
@addTagHelper *, Common
@using Common.Enum
@model Admin.Pages.Contents.AddContent

@{
  Layout = "_Layout";
  ViewData["Title"] = "Add a results page";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <p class="govuk-caption-l">@Model.QuestionnaireTitle</p>
      Add a result page
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0"><strong class="govuk-tag" data-status="@Model?.QuestionnaireStatus">@Model?.QuestionnaireStatus</strong>
      </dd>
    </dl>
    
    <form method="post" accept-charset="UTF-8">
      <!-- Content title -->
      <govuk-form-group asp-for="@Model.ContentTitle">
        <label class="govuk-label govuk-label--m" for="ContentTitle">
          Add a title of the result page
        </label>
        <div class="govuk-hint" id="ContentTitle-hint">
          This will appear at the top of your result page and should summarise the answer.
        </div>

        <govuk-field-error asp-for="@Model.ContentTitle" error-id="ContentTitle-error">
        </govuk-field-error>

        <govuk-input id="ContentTitle"
                     class="govuk-input"
                     aria-describedby="ContentTitle-hint"
                     type="text"
                     asp-for="ContentTitle"
                     value="@Model.ContentTitle"
                     govuk-error-for="@Model.ContentTitle"/>
      </govuk-form-group>

      <!-- Main content -->
      <govuk-form-group asp-for="@Model.ContentValue">
        <label class="govuk-label govuk-label--m" for="ContentValue">
          Add detail about the result
        </label>
        <div class="govuk-hint" id="ContentValue-hint">
          <p>You could explain the result based on people's answers.</p>

          <p>It could include links to an onward journey.</p>
        </div>

        <govuk-field-error asp-for="@Model.ContentValue" error-id="ContentValue-error">
        </govuk-field-error>

        <textarea class="govuk-textarea"
                  id="ContentValue"
                  rows="4"
                  asp-for="ContentValue"
                  aria-describedby="ContentValue-hint"></textarea>
      </govuk-form-group>

      <!-- Question text -->
      <govuk-form-group asp-for="@Model.ContentRefName">
        <label class="govuk-label govuk-label--m" for="ContentRefName">
          Give your result a reference
        </label>
        <div class="govuk-hint" id="ContentRefName-hint">
          <p>You can add a reference name to make it easier for you to identify results when choosing destinations for question answers.</p> 

          <p>If you do not add a reference, the default will be the result title.</p>
        </div>

        <govuk-field-error asp-for="@Model.ContentRefName" error-id="ContentRefName-error">
        </govuk-field-error>

        <govuk-input id="ContentRefName"
                     class="govuk-input"
                     aria-describedby="ContentRefName-hint"
                     type="text"
                     asp-for="ContentRefName"
                     value="@Model.ContentRefName"
                     govuk-error-for="@Model.ContentRefName"/>
      </govuk-form-group>

      <button class="govuk-button" type="submit" formnovalidate="formnovalidate" data-module="govuk-button"
              data-prevent-double-click="true" asp-page-handler="SaveAndContinue">
        Save and continue
      </button>
    </form>
  </div>
</div>