@page "/admin/questionnaires/{questionnaireId:guid}/clone"
@addTagHelper *, Common
@model Admin.Pages.Questionnaire.CloneQuestionnaire

@{
  const string title = "Make a copy of your questionnaire";
  ViewData["Title"] = title;

  const string inputId = nameof(Model.Title);
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-0">
      <span class="govuk-caption-l">@Model.QuestionnaireTitle</span>
      Make a copy
    </h1>
    <div class="govuk-hint govuk-!-margin-bottom-8 govuk-!-margin-top-4">
      <p>Give the copy of your questionnaire a name to help you find it later. This name will not be visible to users.</p>
      <p>Next, you will be sent to the 'Design a questionnaire' page for this copy.</p>
    </div>
    <form accept-charset="UTF-8" method="post">
      <input type="hidden" asp-for="@Model.BackLinkSlug"/>
      <govuk-form-group asp-for="@Model.Title">
        <fieldset class="govuk-fieldset" aria-describedby="finished-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Questionnaire name
            </h2>
          </legend>

          <govuk-field-error asp-for="@Model.Title" error-id="@inputId-field-error"></govuk-field-error>

          <govuk-input id="@inputId"
                       class="govuk-input"
                       aria-describedby="forms-name-input-name-hint"
                       type="text"
                       name="@nameof(Model.Title)"
                       asp-for="@Model.Title"
                       govuk-error-for="@Model?.Title"/>
        </fieldset>
      </govuk-form-group>
      <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">Make a copy</button>
    </form>
  </div>
</div>