@page "/admin/questionnaires/create"
@addTagHelper *, Common
@model Admin.Pages.Questionnaire.CreateQuestionnaires

@{
  Layout = "Shared/_Layout";
  ViewData["Title"] = "Create new questionnaire";

  const string inputId = "title";
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="@Model?.BackLinkSlug">Back</a>
}

@if (Model!.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form accept-charset="UTF-8" method="post">
      <govuk-form-group asp-for="@Model.Title">
        <h1 class="govuk-label-wrapper">
          <label for="@inputId" class="govuk-label govuk-label--l">Add questionnaire name</label>
        </h1>

        <div class="govuk-hint" id="@inputId-hint">
          The questionnaire name will be shown at the top of each page of the form.
          <br/><br/>
          Use a name that describes what the form will help people to do. For example ‘Check your care leaver support’.
        </div>

        <govuk-field-error asp-for="@Model.Title" error-id="@inputId-error">
        </govuk-field-error>

        <govuk-input id="@inputId"
               class="govuk-input"
               aria-describedby="@inputId-hint"
               type="text"
               asp-for="@Model.Title"
               value="@(Model?.Title ?? "")"
               name="@nameof(Model.Title)"
               govuk-error-for="@Model?.Title"/>
      </govuk-form-group>

      <button type="submit" formnovalidate="formnovalidate" class="govuk-button" data-module="govuk-button"
              data-prevent-double-click="true" data-govuk-button-init="">Save and continue
      </button>
    </form>
  </div>
</div>