@page "/admin/questionnaires/{questionnaireId:guid}/track"
@model Admin.Pages.Questionnaire.TrackQuestionnaires
@using AngleSharp.Common
@using Common.Enum
@using Common.Models
@using Microsoft.AspNetCore.Html

@{
  ViewData["Title"] = "Design a questionnaire";
  var questionnaire = Model.Questionnaire;

  IHtmlContent TaskStatusTag(CompletableTask task, CompletionStatus defStatus = CompletionStatus.NotStarted) =>
    Html.Raw(Model.Questionnaire?.CompletionTrackingMap?.GetOrDefault(task, defStatus) switch
    {
      CompletionStatus.NotStarted =>
        "<strong class=\"govuk-tag govuk-tag--blue\">Not started</strong>",
      CompletionStatus.InProgress =>
        "<strong class=\"govuk-tag govuk-tag--light-blue\">In progress</strong>",
      CompletionStatus.Completed => "Completed",
      _ => "<strong class=\"govuk-tag govuk-tag--blue\">Not started</strong>"
    });
  
  IHtmlContent OptionalStatusTag(CompletableTask task, CompletionStatus defStatus = CompletionStatus.Optional) =>
    Html.Raw(Model.Questionnaire?.CompletionTrackingMap?.GetOrDefault(task, defStatus) switch
    {
      CompletionStatus.Optional =>
        "<strong class=\"govuk-tag govuk-tag--grey\">Optional</strong>",
      CompletionStatus.Completed => "Completed",
      _ => "<strong class=\"govuk-tag govuk-tag--grey\">Optional</strong>"
    });

  var displayVersionHistory = questionnaire?.Status == EntityStatus.Published || questionnaire?.Version > 0;

  var questionnaireStatus = questionnaire?.Status;
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" id="back-to-manage" href="/admin/questionnaires/manage">Back</a>
}

@await Html.PartialAsync("QuestionnaireNotifications", Model)

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 id="track-questionnaire-page-heading" class="govuk-heading-l govuk-!-margin-0">
      <span id="current-questionnaire-title" class="govuk-caption-l">@Model.Questionnaire?.Title</span><span class="govuk-visually-hidden"> - </span>
      @ViewData["Title"]
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0">
        <strong id="questionnaire-status" class="govuk-tag" data-status="@questionnaireStatus">
          @questionnaireStatus
        </strong>
      </dd>
    </dl>
    <div class="app-task-list">
      <h2 class="govuk-heading-m">Manage questionnaire</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link"
               id="edit-questionnaire-name"
               aria-describedby="edit-your-questionnaire-name-status"
               href="/admin/questionnaires/@questionnaire?.Id/edit-name">
              Edit questionnaire name
            </a>
          </div>
          <div class="govuk-task-list__status" id="edit-your-questionnaire-name-status">
            @* Agreement that no status is necessary *@
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link"
               id="manage-access"
               href="/admin/questionnaires/@questionnaire?.Id/contributors">
              Manage access
            </a>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link" id="make-copy" href="/admin/questionnaires/@questionnaire?.Id/clone">Make a copy</a>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            @if (displayVersionHistory)
            {
              <a class="govuk-link gi" id="view-version-history" tabindex="-1"
                 href="/admin/questionnaires/@questionnaire?.Id/version-history">
              View version history
              </a>
            }
            else
            {
              <span id="view-version-history" aria-disabled="true" tabindex="-1">View version history</span>
            }
          </div>
          <div class="govuk-task-list__status">
            @if (!displayVersionHistory)
            {
              <div id="view-version-history-status">Cannot view until published</div>
            }
          </div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Edit questionnaire</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="edit-start-page-completion-status"
               id="edit-start-page"
               href="/admin/questionnaires/@questionnaire?.Id/start-page/edit">
              Add or edit start page
            </a>
          </div>
          <div class="govuk-task-list__status" id="edit-start-page-completion-status">
            @OptionalStatusTag(CompletableTask.AddStartPage)
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            
            <a class="govuk-link govuk-task-list__link"
               id="edit-questions"
               aria-describedby="edit-questions-completion-status"
               href="@string.Format(Routes.AddAndEditQuestionsAndAnswers, Model.QuestionnaireId)">
              Add or edit questions and answers
            </a>
          </div>
          <div class="govuk-task-list__status" id="edit-questions-completion-status">
            @TaskStatusTag(CompletableTask.AddQuestionsAndAnswers)
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="results-page-completion-status"
               id="edit-results-pages"
               href="/admin/questionnaires/@questionnaire?.Id/contents">Add or edit results pages</a>
          </div>
          <div class="govuk-task-list__status" id="results-page-completion-status">
            @OptionalStatusTag(CompletableTask.AddContents)
          </div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Customise questionnaire</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="edit-button-completion-status"
               id="edit-button-text"
               href="/admin/questionnaires/@questionnaire?.Id/edit-continue-button">Edit button text</a>
          </div>
          <div class="govuk-task-list__status" id="edit-button-completion-status">
            @OptionalStatusTag(CompletableTask.AddCustomButton)
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="customise-styling-completion-status"
               id="customise-styling"
               href="/admin/questionnaires/@questionnaire?.Id/styling">
              Customise styling
            </a>
          </div>
          <div class="govuk-task-list__status" id="customise-styling-completion-status">
            @OptionalStatusTag(CompletableTask.CustomiseStyling)
          </div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Review questionnaire</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a id="view-branching-map" class="govuk-link" href="/admin/questionnaires/@questionnaire?.Id/branching-map"
               rel="noopener">View branching map</a>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a id="preview-questionnaire" class="govuk-link govuk-task-list__link"
               href="/admin/questionnaires/@questionnaire?.Id/start-preview"
               target="_blank">Preview questionnaire (opens in new tab)</a>
          </div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Prepare to publish questionnaire</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="edit-slug-status"
               id="edit-questionnaire-id"
               href="/admin/questionnaires/@questionnaire?.Id/edit-slug">
              Add or edit questionnaire ID
            </a>
          </div>
          <div class="govuk-task-list__status" id="edit-slug-status">
            @TaskStatusTag(CompletableTask.EditQuestionnaireSlug)
          </div>
        </li>

      @if (questionnaire != null && (questionnaire.Status is EntityStatus.Draft || questionnaire.IsUnpublished))
      {
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link" data-module="govuk-link" data-govuk-button-init=""
               id="publish-questionnaire"
               href="/admin/questionnaires/@questionnaire?.Id/publish-confirmation">
              Publish questionnaire
            </a>
          </div>
        </li>
      }
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link" id="integration-guide"
               href="/admin/questionnaires/@questionnaire?.Id/integration-guide">
            How to add a questionnaire to your service
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="govuk-button-group">
      @if (questionnaire?.Status == EntityStatus.Published)
      {
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
           id="unpublish-questionnaire"
           href="/admin/questionnaires/@questionnaire?.Id/unpublish-confirmation" data-govuk-button-init="">
          Unpublish the questionnaire
        </a>
      }
      <a class="govuk-button govuk-button--warning" data-module="govuk-button"
         id="delete-questionnaire"
         href="/admin/questionnaires/@questionnaire?.Id/delete-confirmation" data-govuk-button-init="">
        Delete questionnaire
      </a>
    </div>
  </div>
</div>
