@page "/admin/questionnaires/{questionnaireId:guid}/track"
@model Admin.Pages.Questionnaire.TrackQuestionnaires
@using AngleSharp.Common
@using Common.Enum
@using Common.Models
@using Microsoft.AspNetCore.Html

@{
  ViewData["Title"] = "Home Page";
  var questionnaire = Model.Questionnaire;
  
  IHtmlContent TaskStatusTag(CompletableTask task, CompletionStatus defStatus = CompletionStatus.NotStarted ) => 
    Html.Raw(Model.Questionnaire?.CompletionTrackingMap?.GetOrDefault(task, defStatus) switch
  {
    CompletionStatus.NotStarted => 
      "<strong class=\"govuk-tag govuk-tag--blue\">Not started</strong>",
    CompletionStatus.InProgress => 
      "<strong class=\"govuk-tag govuk-tag--light-blue\">In progress</strong>",
    CompletionStatus.Completed => "Completed",
    _ => "<strong class=\"govuk-tag govuk-tag--blue\">Not started</strong>"
  });
}

@section BeforeContent
{
  <a class="govuk-back-link govuk-!-display-none-print" href="/admin/questionnaires/manage">Back</a>
}

@await Html.PartialAsync("QuestionnaireNotifications", Model)

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
      <span class="govuk-caption-l">@Model.Questionnaire?.Title</span><span class="govuk-visually-hidden"> - </span>
      Create and edit your questionnaire
    </h1>
    <dl class="govuk-!-margin-bottom-7">
      <dt class="govuk-visually-hidden">Status</dt>
      <dd class="govuk-!-margin-0"><strong class="govuk-tag" data-status="@questionnaire?.Status">@questionnaire?.Status</strong>
      </dd>
    </dl>
    <div class="app-task-list">
      <h2 class="govuk-heading-m">Manage questionnaire</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="optional-task-1-status" href="/admin/questionnaires/@questionnaire?.Id/contributors">
              View and change who has access
            </a>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link" href="/admin/questionnaires/@questionnaire?.Id/clone">Clone this questionnaire</a>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            @if (questionnaire?.Version > 1)
            {
              <a class="govuk-link gi" href="/admin/questionnaires/@questionnaire?.Id/version-history">View questionnaire versions</a>
            }
            else
            {
              <span>View questionnaire versions</span>
            }
          </div>
          <div class="govuk-task-list__status">
            Cannot view until published
          </div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Edit your questionnaire</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="edit-your-questionnaire-name-status" href="/admin/questionnaires/@questionnaire?.Id/edit-name">Edit the name of your questionnaire</a></div>
          <div class="govuk-task-list__status" id="edit-your-questionnaire-name-status">@TaskStatusTag(CompletableTask.EditQuestionnaireName)</div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="optional-task-1-status" href="/admin/questionnaires/@questionnaire?.Id/start-page/edit">
              Add and edit start page
            </a>
          </div>
          <div class="govuk-task-list__status" id="optional-task-1-status">
            <strong class="govuk-tag govuk-tag--grey">Optional</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint"><a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-2-status" href="@string.Format(Routes.AddAndEditQuestionsAndAnswers, Model.QuestionnaireId)">Add and edit questions and answers</a></div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-2-status">@TaskStatusTag(CompletableTask.AddQuestionsAndAnswers)</div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" 
               href="/admin/questionnaires/@questionnaire?.Id/contents">Add and edit results pages</a>
          </div>
          <div class="govuk-task-list__status">
            <strong class="govuk-tag govuk-tag--grey">Optional</strong>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" href="/admin/questionnaires/@questionnaire?.Id/look-and-feel">Edit look and feel of your questionnaire</a>
          </div>
          <div class="govuk-task-list__status"><strong class="govuk-tag govuk-tag--grey">Optional</strong></div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="create-your-questionnaire-1-status" href="/admin/questionnaires/@questionnaire?.Id/edit-continue-button">Edit text on 'continue' buttons</a>
          </div>
          <div class="govuk-task-list__status" id="create-your-questionnaire-1-status"><strong class="govuk-tag govuk-tag--grey">Optional</strong></div>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Prepare to publish questionnaire</h2>
      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link" href="/admin/questionnaires/@questionnaire?.Id/branching-map" target="_blank" 
               rel="noopener">View branching map (opens in new tab)</a>
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" aria-describedby="edit-slug-status" href="/admin/questionnaires/@questionnaire?.Id/edit-slug">Edit the slug of your questionnaire</a>
          </div>
          <div class="govuk-task-list__status" id="edit-slug-status">@TaskStatusTag(CompletableTask.EditQuestionnaireSlug)</div>
        </li>
        
        
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="/admin/questionnaires/@questionnaire?.Id/start-preview" 
               target="_blank">Preview this questionnaire (opens in new tab)</a>
          </div>
        </li>
        
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            @if (questionnaire?.Status is EntityStatus.Draft or EntityStatus.Private)
            {
              <a class="govuk-link" data-module="govuk-link" href="/admin/questionnaires/@questionnaire?.Id/publish-confirmation" data-govuk-button-init="">Publish the questionnaire</a>
            } 
            else if (questionnaire?.Status == EntityStatus.Published)
            {
              <a class="govuk-link" data-module="govuk-link" href="/admin/questionnaires/@questionnaire?.Id/unpublish-confirmation" data-govuk-button-init="">Unpublish the questionnaire</a>
            }
          </div>
        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link" href="/admin/questionnaires/@questionnaire?.Id/integration-guide" target="_blank">Add questionnaire to your service</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="govuk-button-group">
      <a class="govuk-button govuk-button--warning" data-module="govuk-button" href="/admin/questionnaires/@questionnaire?.Id/delete-confirmation" data-govuk-button-init="">Delete questionnaire</a>
    </div>
  </div>
</div>
