@page "/admin/terms-of-service-agreement"
@attribute [AllowAnonymous]
@addTagHelper *, Common
@model Admin.Pages.Home.TermsOfServiceAgreement

@{
  var pageTitle = "Terms of use";
  ViewData["Title"] = $"{pageTitle} – Get to an answer – Department for Education" ;
}

@if (Model.HasErrors())
{
  @await Html.PartialAsync("_ErrorSummary")
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="translation_missing" title="translation missing: en.page_titles.terms_of_use">@pageTitle</span>
    </h1>

    <p>
      Published: 19 January 2026  
    </p>
    <p>
      These terms apply to the way you use Get to an answer (GTAA). 
      <br><br>
      You must accept these terms to continue to use Get to an answer. 
    </p>
    <h2 class="govuk-heading-m">
      Accessing the platform 
    </h2>
    <p>
      You must sign in to Get to an answer using: 
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        a secure work-managed device 
      </li>
      <li>
        a secure individual work email address  
      </li>
      <li>
        a trusted internet connection - do not sign in using an untrusted public wifi network
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Make questionnaires that are easy to use and accessible 
    </h2>
    <p>
      Get to an answer is designed to help you make questionnaires that are easy to use and accessible, but this also depends on the design, structure and content of what you create. 
      <br><br>
      When you create a questionnaire, follow government standards and guidance to make sure it is easy to use and accessible.  
      <br><br>
      It is your responsibility to ensure the questions and answers along with any additional content, for example a start page, created within GTAA are accessible.  
    </p>
 
    <h2 class="govuk-heading-m">
      Using on a campaign site 
    </h2>
    <p>
      When GTAA is used on a campaign site you can make changes to the default design options to include an image, or to change colours to align with the campaign site’s custom theme.  You need to confirm the colours selected remain compliant with the WCAG version 2.2 AA standard. 
    </p>
 
    <h2 class="govuk-heading-m">
      Service standards and assurance 
    </h2>
    <p>
      There is an expectation that you test any questionnaires created in ‘Get to an answer’ with end users as part of the design process.
      <br><br>
      How your use of GTAA gets assured will depend on where it is being used:  
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        Part of a new digital service – use of GTAA will be considered as part of the Service Standard assessment.  
      </li>
      <li>
        Adding to an existing service - you can add GTAA to an existing service. Follow any assurance requirements set by your team/division for content changes. You must also complete the pre-publication requirements checklist and get approval from DesignOps before publishing.  
      </li>
      <li>
        On a campaign site – your use of GTAA will be considered as part of the final clearance given by GCS/GDS.  
      </li>
    </ul>
 
    <h2 class="govuk-heading-m">
      Before your questionnaire goes live  
    </h2>
    <p>
      You need to send a completed pre-publication checklist to design.ops@education.gov.uk.  
      <br><br>
      This information is also available from the ‘how to publish’ step.  
    </p>
    
    <h2 class="govuk-heading-m">
      Changes to these terms 
    </h2>
    <p>
      We’ll let you know if we make any changes to these terms. 
    </p>
  </div>
</div>

<form accept-charset="UTF-8" method="post">
  @Html.AntiForgeryToken()
  <govuk-form-group asp-for="@Model.Agreed" >
    <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">
          Do you agree to these terms?
        </h2>
      </legend>
      <div id="signIn-hint" class="govuk-hint"></div>

      <govuk-field-error asp-for="@Model.Agreed" error-id="Agreed-error"></govuk-field-error>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <govuk-input asp-for="Agreed" 
                 class="govuk-checkboxes__input" 
                 id="Agreed"
                 type="checkbox"
                 value="true" 
                 aria-describedby="agreed-checkbox-item-hint"
                 govuk-error-for="@Model.Agreed"/>
          <label class="govuk-label govuk-checkboxes__label" for="Agreed">
            I agree to these terms
          </label>
          <div id="agreed-checkbox-item-hint" class="govuk-hint govuk-checkboxes__hint">
          </div>
        </div>
      </div>
    </fieldset>
  </govuk-form-group>

  <button type="submit" class="govuk-button govuk-button--primary">
    Save and continue
  </button>
</form>
