@page "/admin/questionnaires/{questionnaireId:guid}/contributors/{contentId:guid}/remove-confirmation"
@addTagHelper *, Common
@using Common.Enum
@model Admin.Pages.Confirmations.ConfirmRemoveContributor

@{
  ViewData["Title"] = "Delete the end result content";
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
      <form method="post" class="govuk-!-margin-top-6">
          
          <input type="hidden" name="ContributorEmail" value="@Model.ContributorEmail"/>
          <input type="hidden" name="ContributorId" value="@Model.ContributorId"/>
          <fieldset class="govuk-fieldset" aria-describedby="finished-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-fieldset__heading">
                      <span class="govuk-caption-l">@Model.QuestionnaireTitle</span>
                      Are you sure you want to remove edit access for '@Model.ContributorEmail'?
                  </h2>
              </legend>

              <div id="finished-hint" class="govuk-hint">
                  By deleting this contributor, existing answers with this result page will be broken.
              </div>

              <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="finished-yes" name="DeleteContributor" type="radio" asp-for="@Model.RemoveContributor"
                             value="true">
                      <label class="govuk-label govuk-radios__label" for="finished-yes">
                          Yes
                      </label>
                  </div>

                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="finished-no" name="DeleteContributor" type="radio" asp-for="@Model.RemoveContributor"
                             value="false">
                      <label class="govuk-label govuk-radios__label" for="finished-no">
                          No, I’ll come back later
                      </label>
                  </div>
              </div>
          </fieldset>

          <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit"
                  asp-page-handler="Continue">
              Continue
          </button>
      </form>
  </div>
</div>