@page "/questionnaires/{questionnaireSlug}/next"
@using Common.Custom
@using Common.Enum
@model Frontend.Pages.Questionnaire.QuestionnaireNext

@{
    Layout = "Shared/_Layout";
}

@{
  var dynamicTitle = Model.Questionnaire.DisplayTitle ?? "";
  dynamicTitle = $"{(dynamicTitle.Any() ? " - " : "")}{dynamicTitle}";

  var destination = Model.Destination;

  if (destination.Type == DestinationType.Question)
  {
    var question = destination.Question;

    dynamicTitle = $"Question {question?.Order}{dynamicTitle}";
  }
  else if (destination.Type == DestinationType.CustomContent)
  {
    dynamicTitle = $"{destination.Title} - Results page {dynamicTitle}";
  }
  else if (destination.Type == DestinationType.ExternalLink)
  {
    dynamicTitle = $"External link {dynamicTitle}";
  }

  ViewData["Title"] = dynamicTitle;
  
  var hasErrors = Model != null && !ViewData.ModelState.IsValid;
}

@if (hasErrors)
{
  @await Html.PartialAsync("_ErrorSummary", Model)
}
@section BeforeContainer
{

  @if (Model != null)
  {
    @if (!Model.IsEmbedded && Model.Destination.Type == DestinationType.CustomContent)
    {
      <section class="dfe-page-grey" id="main-content-header">
        <div class="govuk-width-container" id="main-header-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <h1 id="results-page-title" class="govuk-heading-xl">
                @Model?.Destination.Title
              </h1>
            </div>
          </div>
        </div>
      </section>
    }
  }
}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    @if (Model?.Destination?.Type == DestinationType.Question && Model.Destination.Question != null)
    {
      <form id="question-form" action="/questionnaires/@Model.Questionnaire?.Slug/next?embed=@Model.IsEmbedded" accept-charset="UTF-8" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="NextStateRequest.CurrentQuestionId" value="@Model.Destination.Question.Id" autocomplete="off">
        <input type="hidden" name="NextStateRequest.CurrentQuestionOrder" value="@Model.Destination.Question.Order" autocomplete="off">
        <input type="hidden" name="Questionnaire.Id" value="@Model?.Questionnaire?.Id" autocomplete="off">
        <input type="hidden" name="Questionnaire.Slug" value="@Model?.Questionnaire?.Slug" autocomplete="off">
        <input type="hidden" name="Questionnaire.DisplayTitle" value="@Model?.Questionnaire?.DisplayTitle" autocomplete="off">
        <input type="hidden" name="Questionnaire.Description" value="@Model?.Questionnaire?.Description" autocomplete="off">
        <input type="hidden" name="Questionnaire.TextColor" value="@Model?.Questionnaire?.TextColor" autocomplete="off">
        <input type="hidden" name="Questionnaire.BackgroundColor" value="@Model?.Questionnaire?.BackgroundColor" autocomplete="off">
        <input type="hidden" name="Questionnaire.PrimaryButtonColor" value="@Model?.Questionnaire?.PrimaryButtonColor" autocomplete="off">
        <input type="hidden" name="Questionnaire.SecondaryButtonColor" value="@Model?.Questionnaire?.SecondaryButtonColor" autocomplete="off">
        <input type="hidden" name="Questionnaire.StateColor" value="@Model?.Questionnaire?.StateColor" autocomplete="off">
        <input type="hidden" name="Questionnaire.ErrorMessageColor" value="@Model?.Questionnaire?.ErrorMessageColor" autocomplete="off">
        <input type="hidden" name="Questionnaire.ContinueButtonText" value="@Model?.Questionnaire?.ContinueButtonText" autocomplete="off">
        <input type="hidden" name="Destination.Type" value="@Model?.Destination?.Type" autocomplete="off">
        <input type="hidden" name="Destination.Question.Type" value="@Model?.Destination?.Question.Type" autocomplete="off">
        <input type="hidden" name="Destination.Question.Id" value="@Model?.Destination?.Question.Id" autocomplete="off">
        <input type="hidden" name="Destination.Question.Order" value="@Model?.Destination?.Question.Order" autocomplete="off">
        <input type="hidden" name="Destination.Question.Content" value="@Model?.Destination?.Question.Content" autocomplete="off">
        <input type="hidden" name="Destination.Question.Description" value="@Model?.Destination?.Question.Description" autocomplete="off">
        @{
          var hasFieldError = ViewData.ModelState.TryGetValue("NextStateRequest.SelectedAnswerIds", out var ms2) && ms2.Errors.Count > 0;

          var firstErrorMessage = ms2?.Errors.FirstOrDefault()?.ErrorMessage;
          var inputGroupId = $"q-{Model.Destination.Question.Id}";
        }
        <div class="govuk-form-group @(hasFieldError ? "govuk-form-group--error" : "")">
          <fieldset class="govuk-fieldset" aria-describedby="@(Model.Destination.Question.Description != null ? $"{inputGroupId}-hint" : null)">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              @if (Model.Destination.Question.Type == QuestionType.DropdownSelect)
              {
                <h1 id="question-content" class="govuk-fieldset__heading">
                  <label class="govuk-label govuk-label--l" for="@inputGroupId-select">
                    @Model.Destination.Question.Content
                  </label>
                </h1>
              }
              else
              {
                <h1 id="question-content" class="govuk-fieldset__heading">
                  @Model.Destination.Question.Content
                </h1>
              }
            </legend>
            @if (Model.Destination.Question.Description != null)
            {
              <div id="@($"{inputGroupId}-hint")" class="govuk-hint">
                @(Html.Raw(GovUkMarkdown.ToGovUkHtml(Model.Destination.Question.Description)))
              </div>
            }
            @if (Model.Destination.Question.Type == QuestionType.SingleSelect)
            {
              var answers = Model.Destination.Question.Answers;
              
              @if (hasFieldError && !string.IsNullOrWhiteSpace(firstErrorMessage))
              {
                <p id="@inputGroupId-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> @firstErrorMessage
                </p>
              }

              <div class="govuk-radios" data-module="govuk-radios">
                @for (var a = 0; a < answers.Count; a++)
                {
                  var answer = Model?.Destination?.Question.Answers[a];

                  var inputId = $"{inputGroupId}-a-{answer?.Id}";
                  var itemHintId = $"{inputId}-hint";

                  <input type="hidden" name="Destination.Question.Answers[@a].Id" value="@answer.Id" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Priority" value="@answer.Priority" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Content" value="@answer.Content" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Description" value="@answer.Description" autocomplete="off">

                  <div class="govuk-radios__item">
                    <input type="hidden" name="Priorities.@answer.Id" value="@answer.Priority" autocomplete="off">
                    <input
                      class="govuk-radios__input @(hasFieldError ? "govuk-input--error" : "")"
                      id="@inputId"
                      name="NextStateRequest.SelectedAnswerIds"
                      type="radio"
                      value="@answer.Id"
                      aria-describedby="Answer option id @inputId">
                    <label class="govuk-label govuk-radios__label" for="@inputId">
                      @answer.Content
                    </label>
                    @if (answer.Description != null)
                    {
                      <div id="@itemHintId" class="govuk-hint govuk-radios__hint">
                        @(Html.Raw(GovUkMarkdown.ToGovUkHtml(answer.Description)))
                      </div>
                    }
                  </div>
                }
              </div>
            }
            else if (Model.Destination.Question.Type == QuestionType.MultiSelect)
            {
              var answers = Model.Destination.Question.Answers;
              
              @if (hasFieldError && !string.IsNullOrWhiteSpace(firstErrorMessage))
              {
                <p id="@inputGroupId-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> @firstErrorMessage
                </p>
              }

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                @for (var a = 0; a < answers.Count; a++)
                {
                  var answer = Model?.Destination?.Question.Answers[a];

                  <input type="hidden" name="Destination.Question.Answers[@a].Id" value="@answer.Id" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Priority" value="@answer.Priority" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Content" value="@answer.Content" autocomplete="off">
                  <input type="hidden" name="Destination.Question.Answers[@a].Description" value="@answer.Description" autocomplete="off">

                  var inputId = $"{inputGroupId}-a-{answer.Id}";
                  var itemHintId = $"{inputId}-hint";
                  <div class="govuk-checkboxes__item">
                    <input type="hidden" name="Priorities.@answer.Id" value="@answer.Priority" autocomplete="off">
                    <input
                      class="govuk-checkboxes__input @(hasFieldError ? "govuk-input--error" : "")"
                      id="@inputId"
                      name="NextStateRequest.SelectedAnswerIds"
                      type="checkbox"
                      value="@answer.Id"
                      aria-describedby="@(answer.Description != null ? itemHintId : null)">
                    <label class="govuk-label govuk-checkboxes__label" for="@inputId">
                      @answer.Content
                    </label>
                    @if (answer.Description != null)
                    {
                      <div id="@itemHintId" class="govuk-hint govuk-checkboxes__hint">
                        @(Html.Raw(GovUkMarkdown.ToGovUkHtml(answer.Description)))
                      </div>
                    }
                  </div>
                }
              </div>
            }
            else if (Model.Destination.Question.Type == QuestionType.DropdownSelect)
            {
              var answers = Model.Destination.Question.Answers;

              @if (hasFieldError && !string.IsNullOrWhiteSpace(firstErrorMessage))
              {
                <p id="@inputGroupId-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> @firstErrorMessage
                </p>
              }
              <label class="govuk-label" for="@($"{inputGroupId}-select")">
                Choose answer
              </label>
              @for (var a = 0; a < answers.Count; a++)
              {
                var answer = Model?.Destination?.Question.Answers[a];

                <input type="hidden" name="Destination.Question.Answers[@a].Id" value="@answer?.Id" autocomplete="off">
                <input type="hidden" name="Destination.Question.Answers[@a].Priority" value="@answer?.Priority" autocomplete="off">
                <input type="hidden" name="Destination.Question.Answers[@a].Content" value="@answer?.Content" autocomplete="off">
                <input type="hidden" name="Destination.Question.Answers[@a].Description" value="@answer?.Description" autocomplete="off">
                <input type="hidden" name="Priorities.@answer?.Id" value="@answer?.Priority" autocomplete="off">
              }
              <select class="govuk-select" id="@($"{inputGroupId}-select")" name="NextStateRequest.SelectedAnswerIds">
                <option value="choose" selected="selected">Select an answer</option>
                @foreach (var answer in answers)
                {
                  <option value="@answer.Id">@answer.Content</option>
                }
              </select>
            }
          </fieldset>
        </div>
        <button type="submit" formnovalidate="formnovalidate" class="govuk-button"
                data-module="govuk-button" data-prevent-double-click="true" data-govuk-button-init="">
          @(Model?.Questionnaire?.ContinueButtonText ?? "Continue")
        </button>
      </form>
    }
    else if (Model?.Destination?.Type == DestinationType.CustomContent)
    {
      @if (Model.IsEmbedded)
      {
        <fieldset class="govuk-fieldset" aria-describedby="@Model.Destination.Title">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 id="results-page-title" class="govuk-fieldset__heading">
              @Model.Destination.Title
            </h1>
          </legend>
          <div id="results-page-details">@(Html.Raw(GovUkMarkdown.ToGovUkHtml(Model.Destination.Content)))</div>
        </fieldset>
      }
      else
      {
        <div id="results-page-details">@(Html.Raw(GovUkMarkdown.ToGovUkHtml(Model.Destination.Content)))</div>
      }
    }
    else if (Model?.Destination?.Type == DestinationType.ExternalLink)
    {
      <input type="hidden" id="external-link-dest" value="@Model.Destination.Content">
    }
  </div>
</div>
